{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{%block content %}

    {%for servicio in servicios %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            
            <img class="box-map" src="{{servicio.imagen.url}}" alt="" style="width: 25%;" >
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h3 class="section-heading mb-4" >
                <span class="section-heading-lower" style="color: rgb(255, 255, 255)" style="text-align: center;" >{{servicio.titulo}}</span>
                <span class="section-heading-upper" style="color: blanchedalmond;" style="text-align: center ">{{servicio.contenido}}</span>
              </h3>

             
             
            </div>
          </div>
        </div>
      </section>


    {% endfor %}

{% endblock %} 