{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h5 class="font-presstart" style="color:aliceblue;">Te has deslogueado...</h5>
    <br>
    <br>
    <br>

    <a href="http://127.0.0.1:8000" style="color: rgb(0, 133, 250)" > Volver</a>

</body>
</html>
{% endblock %}